@import '../../root.css';

.container {
  accent-color: var(--color-accent);
  width: 100%;
  height: 60%;
  max-width: 500px;
  background-color: var(--color-bg-dark);
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 11px 3px 17px -4px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 11px 3px 17px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 11px 3px 17px -4px rgba(0, 0, 0, 0.51);
}

.title {
  color: var(--color-accent);
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.input {
  border: none;
  border-bottom: 2px solid var(--color-accent);
  outline: none;
  padding: 0.7rem 1rem;
  background-color: var(--color-bg-dark);
  margin: 0.5rem 3rem;
}

.email {
  background-image: url(../../assets/email-icon.svg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: 5px center;
  padding-left: 2.5rem;
  background-size: 24px;
}

.password {
  background-image: url(../../assets/password-icon.svg);
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: 5px center;
  padding-left: 2.5rem;
  background-size: 24px;
}

.button {
  cursor: pointer;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-size: 1.4rem;
  border-radius: 8px;
  padding: 0.7rem 0;
  margin: 3rem 2.5rem;
}

.button:hover {
  filter: brightness(125%);
}
